.header {
    background: #f9f9f9
}

.header .inner {
    position: relative;
    display: flex;
    align-items: center;
    height: 150px;
}


.header .inner h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.header .gnb>ul>li {
    position: relative;
    display: flex;
    align-items: center;
    height: 150px;
}

.header .gnb>ul {
    display: flex;
    gap: 40px;
}

.header .gnb02 {
    margin-left: auto;
}

.header .gnb02>ul>li {
    position: relative;
    display: flex;
    align-items: center;
    height: 150px;
}

.header .gnb02>ul {
    display: flex;
    gap: 40px;
}

.header .utils {
    margin-left: 40px;
}

.header .inner .gnb>ul>li>a {
    display: block;
    line-height: 150px;
    font-size: 16px;
    font-weight: 500;

    white-space: nowrap;
}

.header .inner .gnb02>ul>li>a {
    display: block;
    line-height: 150px;
    font-size: 16px;
    font-weight: 500;

    white-space: nowrap;
}

.main_slide {
    position: relative;
}

.main_slide .inner {
    position: relative;
    height: calc(100vh - 120px);
}

.main_slide .itm {
    position: relative;
    height: calc(100vh - 200px);
}

.main_slide .itm {
    background: url(../img/메인\ 슬라이드.jpg) no-repeat center center/cover;
}

.main_slide h2 {
    position: absolute;
    top: 50%;
    margin-left: 375px;

    font-size: 42px;
    font-weight: 600px;
    color: #fff;
    margin-bottom: 16px;
}

.main_slide h3 {
    position: absolute;
    top: 50%;
    margin-left: 675px;

    font-size: 42px;
    font-weight: 600px;
    color: #de5aff;
    margin-bottom: 16px;
}

.main_slide p {
    position: absolute;
    top: 60%;
    margin-left: 375px;

    font-size: 24px;
    font-weight: 600px;
    color: #fff;
    margin-bottom: 16px;
}


.main_content {
    background: #fff;
    position: relative;
    padding: 120px 0;
}

.main_content .inner {
    display: flex;
    gap:30px;
}


.main_content h2 {
    font-size: 32px;
    font-weight: 600;
    color: #333;
    text-align: center;
    margin-bottom: 24px;
}

.main_content>p {
    font-size: 16px;
    font-weight: 400;
    color: #333;
    text-align: center;
    margin-bottom: 40px;
}

.main_content .itm p {
    font-size: 18px;
    font-weight: 400;
    color: #333;
    text-align: center;
    margin-bottom: 16px;
}


.main_content .img_box {
    margin-bottom: 16px;
}

.main_content .itm .strong{
    font-size: 18px;
    line-height: 24px;
    text-align: center;
}

.main_content .itm p{
    font-size: 18px;
    margin-top: 16px;
}

.main_banner {
    background: #f9f9f9;
    position: relative;
    padding: 120px 0;
}

.main_banner .inner {
    display: flex;
    gap: 30px;
}

.main_banner h4 {
    font-size: 32px;
    font-weight: 600;
    color: #333;
    text-align: center;
    margin-bottom: 24px;
}

.main_banner p {
    font-size: 16px;
    font-weight: 400;
    color: #333;
    text-align: center;
    margin-bottom: 40px;
}

.main_banner .img_box {
    margin-bottom: 16px;
}

.main_banner .itm .strong{
    font-size: 18px;
    line-height: 24px;
    text-align: center;
}

.main_banner .itm p{
    font-size: 18px;
    line-height: 18px;
    margin-top: 16px;
}

.footer {
    background: #fddbdb;
}

.footer .ft {
   padding-top: 180px;
   padding-bottom: 110px;
}

.footer .ft .inner {
    display: flex;
    justify-content: space-between;
}

.footer .ft .inner .customer01 {
    content: "";
    display: flex;
    gap: 30px;
    line-height: 24px;
}

.footer .ft .inner .customer02 {
    display: flex;
    gap: 30px;
    line-height: 24px;
}

.footer .ft .inner .sns {
    position: absolute;
    right: 20%;
    bottom: -150%;
}
